.profile__image_change {
    background-image: url('../../../../images/pen_change.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 0;
}

.profile__image_change:hover {
    opacity: 1;
    background-color: rgba(0,0,0,.8);
    transition: opacity 0.2s ease-in-out;
}